/* ! Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 5rem;
    background-color: #0084FD;
    padding: 2rem;
}

.white_text {
    color:white;
}
.dark_text {
    color:black;
}

.violet_text {
    color:#9792E4;
}

.orange_text {
    color:#FDC15F;
}

#info_grid {
    margin-top: 2rem;
}

a {
    text-decoration: none;
}

.card h2,
h3,
p,
button {
    padding: 1rem;
}

.flex{
    display: flex;
}

.flex_bt{
    justify-content: space-between;
    align-items: center;
}

.flex_col{
    flex-direction: column;
    align-items: center;
}

.container{
    width: 100%;
}

.cards {
    width: 80%;
    margin: 0 auto;
    padding: 2rem 1rem;
    

}

.card {
    padding: 1rem;
    border: 1px solid red;
    border-radius: 5px;
    margin-bottom: 1rem;

}

#strategic,
#benefits,
#get_started {
    background-color: #9792E4;
    padding: 2rem;
}

.img_left,
.minicard {
    padding: 1rem;
    border: 1px solid red;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.card_white {
    background-color: white;
    border-radius: 25px;
}

.intro_testimonials {
    text-align: center;
    padding: 2rem;
}

.violet_card {
    background-color: #9792E4;
    border-radius: 25px;
    padding: 1rem;
    color:white;
    margin: 1.5rem 1.5rem;
}

.number_card {
    background-color: white;
    border-radius: 25px;
    padding: 1rem;
    color: #9792E4;
    margin: 1.5rem 1.5rem;
}
.left_title,
.right_title {
    padding: 1rem;
}


footer{
    background-color: #333333;
    text-align: center;
    padding: 1rem;
}

